<app-page-wrap>
  <mat-spinner *ngIf="getPizza() === null"></mat-spinner>

  <div *ngIf="getPizza() !== null">
    <div class="buttons-wrap">
      <a mat-button routerLink="/menu">Back To Menu</a>

      <button mat-button (click)="addToCart()">
        {{ getAddToCartButtonText($any(getPizza()?.id)) }}
      </button>
    </div>

    <h1>{{ getPizza()?.name }}</h1>

    <div>
      <img
        src="https://image-api.nosalty.hu/nosalty/images/recipes/3q/5Z/csiperkegombas-rukkolas-pizza.jpeg?w=640&h=480&fit=crop&s=f3c9386de15ba28413508e7cd57422ff"
        alt=""
      />
    </div>

    <h2>Details</h2>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <p>
          <b>Price:</b>
          <span> {{ getPizza()?.price }}Ft</span>
        </p>
      </mat-list-item>
      <mat-list-item role="listitem">
        <p>
          <b>Size:</b>
          <span> {{ getPizza()?.size }}cm</span>
        </p>
      </mat-list-item>
    </mat-list>

    <h2>Ingredients</h2>
    <mat-list role="list">
      <mat-list-item
        *ngFor="let ingredient of $any(getPizza()).ingredients"
        role="listitem"
        >{{ ingredient.name }}</mat-list-item
      >
    </mat-list>
  </div>
</app-page-wrap>
