<mat-spinner *ngIf="getPizza() === null"></mat-spinner>

<div *ngIf="getPizza() !== null">
  <div class="buttons-wrap">
    <a mat-button routerLink="/menu">Back To Menu</a>
    <button
      mat-button
      (click)="addToCart()"
    >
      {{isPizzaInCart() ? 'Add One More (x' + getPizzaCountInCart() + ')' : 'Add To Cart'}}
    </button>
  </div>
  <div>
    <img
      src="https://image-api.nosalty.hu/nosalty/images/recipes/3q/5Z/csiperkegombas-rukkolas-pizza.jpeg?w=640&h=480&fit=crop&s=f3c9386de15ba28413508e7cd57422ff"
      alt="">
  </div>
  <h1>{{getPizza()?.name}}</h1>
  <h2>Ingredients</h2>
  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>
</div>
