<mat-spinner *ngIf="isLoading()"></mat-spinner>

<form *ngIf="!isLoading()" [formGroup]="pizzaFormGroup" (ngSubmit)="onSubmit()">
  <h2>Pizza Details</h2>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input formControlName="name" name="name" matInput />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Size</mat-label>
    <input formControlName="size" name="size" matInput type="number" min="0" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input
      formControlName="price"
      name="price"
      matInput
      type="number"
      min="0"
    />
  </mat-form-field>

  <h2>Chose the ingredients from the list</h2>

  <ul *ngIf="getIngredients() !== null">
    <li
      class="clickable"
      *ngFor="let ingredient of getIngredients()"
      (click)="toggleIngredient(ingredient.id)"
    >
      <b *ngIf="isIngredientActive(ingredient.id)">{{ ingredient.name }}</b>
      <span *ngIf="!isIngredientActive(ingredient.id)">{{
        ingredient.name
      }}</span>
    </li>
  </ul>

  <div>
    <button mat-raised-button color="primary">Update</button>
  </div>
</form>
